<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Options</label>
  </div>
  <select *ngIf="agentToUpdate == null" class="custom-select" id="inputGroupSelect01" [(ngModel)]="field" name="fieldToSearch">
    <option value="surname">Search by surtname</option>
    <option value="address">Search by Address</option>
    <option value="phone">Search by Phone</option>
    <option value="filiation">Search by FiliationName</option>

  </select>
</div>
<br>
<div class="input-group">
  <input *ngIf="agentToUpdate == null" class="form-control" type="text" [(ngModel)]="value" placeholder="Search" name="valueToSearch" aria-describedby="button-addon4"/>
  <div class="input-group-append" id="button-addon4">
    <button *ngIf="agentToUpdate == null" class="btn btn-outline-secondary" (click)="find()">Search</button>
    <button *ngIf="agentToUpdate == null" class="btn btn-outline-secondary" (click)="load()">Cancel</button>
  </div>
</div>
<br>
<br>
<h2>Add Agent</h2>
<form *ngIf="agentToUpdate == null" name="form" (ngSubmit)="f.form.valid && create(f)" #f="ngForm" novalidate>
  <input class="form-control" type="text" [(ngModel)]="agent.surname"  name="surname" placeholder="Agent's surname" required maxlength="25"/>
  <br>
  <input class="form-control" type="text" [(ngModel)]="agent.firstname" name="firstname" placeholder="Agent's firstname" required  maxlength="15"/>
  <br>
  <input class="form-control" type="text" [(ngModel)]="agent.patronymic" name="patronymic" placeholder="Agent's patronymic" required  maxlength="20"/>
  <br>
  <input class="form-control" type="text" [(ngModel)]="agent.address" name="address" placeholder="Agent's address" required  maxlength="20"/>
  <br>
  <input class="form-control" type="text" [(ngModel)]="agent.phone" name="phone" placeholder="Agent's phone" required  maxlength="12"/>
  <br>
  <select class="custom-select" [(ngModel)]="agent.filiation" name="fil_id" required>
    <option *ngFor="let filiation of filiations" [value]="filiation.id">{{filiation.name}}</option>
  </select>
  <button class="btn btn-primary">Add</button>
  <br>
</form>
<br>
<table class="table">
  <thead align="center">
  <th>ID</th>
  <th>Surname</th>
  <th>Firstname</th>
  <th>Patronymic</th>
  <th>Address</th>
  <th>Phone</th>
  <th>Filiation</th>
  <th>Delete</th>
  <th>Edit</th>
  <th>Salary</th>
  </thead>
  <tbody>
  <tr *ngFor="let row of agents" align="center">
    <td>{{row.id}}
      <!--<span *ngIf="agentToUpdate == null || agentToUpdate.id !=row.id">{{row.id}}</span>-->
      <!--<span *ngIf="agentToUpdate !=null && agentToUpdate.id == row.id">-->
        <!--<input class="form-control" type="text" [(ngModel)]="agentToUpdate.id" name="idUpd"/>-->
      <!--</span>-->
    </td>
    <td>
      <span *ngIf="agentToUpdate== null || agentToUpdate.id !=row.id">{{row.surname}}</span>
      <span *ngIf="agentToUpdate != null && agentToUpdate.id == row.id">
        <input class="form-control" type="text" [(ngModel)]="agentToUpdate.surname" name="surnameUpd"/>
      </span>
    </td>
    <td>
      <span *ngIf="agentToUpdate== null || agentToUpdate.id !=row.id">{{row.firstname}}</span>
      <span *ngIf="agentToUpdate != null && agentToUpdate.id == row.id">
        <input class="form-control" type="text" [(ngModel)]="agentToUpdate.firstname" name="firstnameUpd"/>
      </span>
    </td>
    <td>
      <span *ngIf="agentToUpdate== null || agentToUpdate.id !=row.id">{{row.patronymic}}</span>
      <span *ngIf="agentToUpdate != null && agentToUpdate.id == row.id">
        <input class="form-control" type="text" [(ngModel)]="agentToUpdate.patronymic" name="patronymicUpd"/>
      </span>
    </td>
    <td>
      <span *ngIf="agentToUpdate== null || agentToUpdate.id !=row.id">{{row.phone}}</span>
      <span *ngIf="agentToUpdate != null && agentToUpdate.id == row.id">
        <input class="form-control" type="text" [(ngModel)]="agentToUpdate.phone" name="phoneUpd"/>
      </span>
    </td>
    <td>
      <span *ngIf="agentToUpdate== null || agentToUpdate.id !=row.id">{{row.address}}</span>
      <span *ngIf="agentToUpdate != null && agentToUpdate.id == row.id">
        <input class="form-control" type="text" [(ngModel)]="agentToUpdate.address" name="addressUpd"/>
      </span>
    </td>
    <td>
      <span *ngIf="agentToUpdate == null || agentToUpdate.id !=row.id">{{row.filiation.name}}</span>
      <span *ngIf="agentToUpdate !=null && agentToUpdate.id == row.id">
       <select class="custom-select" [(ngModel)]="agentToUpdate.filiation" name="filUpd">
         <option *ngFor="let fil of filiations" [value]="fil.id">{{fil.name}}</option>
       </select>
      </span>
    </td>
    <td *ngIf="agentToUpdate == null">
      <button class="btn btn-outline-danger" (click)="delete(row.id)">Delete</button>
    </td>
    <td *ngIf="agentToUpdate == null">
      <button class="btn btn-outline-warning" (click)="update(row)">Edit</button>
    </td>
    <td *ngIf="agentToUpdate == null">
      <button  class="btn btn-outline-info" (click)="salaryAgent(row.surname)">Salary</button>
    </td>
  </tbody>
</table>
<button *ngIf="agentToUpdate != null" class="btn btn-primary" (click)="save()">Save</button>


